<html lang='zh'>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    {% for i=1, len do %}
        <br/>{{sqls[i]}}
        {% if errors[i] == nil and type(tables[i])=='table' then %}
            <table>
            {% for _, user in ipairs(tables[i]) do %}
                <tr>
                {% for key, value in pairs(user) do %}
                <td>{{key}}</td><td>{{value}}</td>
                {% end %}
                </tr>
            {% end %}
            </table>
        {% else %}
            <br/>ERRORS: {{errors[i]}}
        {% end %}
    {% end %}
    </body>
</html>