{% layout = "layout/c10.html" %}

{-content-}
<table class="table">
  {% if object_list[1] then %}
    <tr>
      {%for k,v in pairs(object_list[1]) do%}
      <th>{{k}}</th>
      {% end%}
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    {% for i, u in ipairs(object_list) do%}
    <tr>
      {%for k,v in pairs(u) do%}
      <td> {{v}} </td>
      {% end%}
      <td><a href="/user/update/{{u.id}}" >edit</a></td>
      <td><a href="/user/delete/{{u.id}}" >delete</a></td>
    </tr>
    {% end%}
  {% else%}
    no records
  {% end%}
</table>
{-content-}