{% layout = "layout/c10.html" %}

{-content-}
<table class="table">
  {% if object_list[1] then %}
    <tr>
      {%for k, v in pairs(object_list[1]) do%}
      <th>{{k}}</th>
      {% end%}
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    {% for i, object in ipairs(object_list) do%}
    <tr>
      {%for k, v in pairs(object) do%}
      <td> {{v}} </td>
      {% end%}
      <td><a href="/{*name*}/update/{{object.id}}" >edit</a></td>
      <td><a href="/{*name*}/delete/{{object.id}}" >delete</a></td>
    </tr>
    {% end%}
  {% else%}
    <p>No records</p>
  {% end%}
</table>
{-content-}