<!DOCTYPE html>
<html>
<head>
  {* blocks.page_css *}
  <title>{* blocks.title *}</title> 
</head>

<body>
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">LUA ADMIN</a>
    </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation"{% if navbar=='site' then%} class="active"{% end %}><a href="/">home</a></li>
        {%if user then%}
          <li role="presentation"{% if navbar=='logout' then%} class="active"{% end %}><a href="/logout">logout</a></li>
        {%else%}
          <li role="presentation"{% if navbar=='login' then%} class="active"{% end %}><a href="/login">login</a></li>
        {%end%}
      </ul>
      
    </div><!-- /.container-fluid -->
  </nav>
  {% if message then %}
  <div class="message">{{message}}</div>
  {% end %}  
  <div  id="main">
    {* blocks.main *}
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">power by 
      <a href="https://github.com/pronan/lua-resty-mvc">lua-resty-mvc</a>
      and
      <a href="https://github.com/openresty/lua-nginx-module">OpenResty</a>
      </p>
  </div>
</footer>

<script type="text/javascript" src="/static/js/default.js"></script> 
{* blocks.page_js *}

</body>
</html>
