{% layout = "admin/base.html" %}

{-main-}
{% local name = view.model.table_name %}
<table class="table table-hover table-striped">
  {% if object_list[1] then %}
    <tr>
      {%for k, v in pairs(object_list[1]) do%}
        <th>{{k}}</th>
      {% end%}
      <th>Actions</th>
    </tr>
    {% for i, object in ipairs(object_list) do%}
    <tr>
      {%for k, v in pairs(object) do%}
        {% local fk = object.__model.foreignkeys[k] %}
        {% if fk then %}
          <td><a href="/admin/{{fk.table_name}}/update/{{v.id}}">{{v}}</a></td>
        {% else %}
          <td>{{v}}</td>
        {% end %}
      {% end %}
      <td>
        <a href="/admin/{{name}}/{{object.id}}" class="btn btn-default">detail</a>
        <a href="/admin/{{name}}/update/{{object.id}}" class="btn btn-default">edit</a>
        <a href="/admin/{{name}}/delete/{{object.id}}" class="btn btn-default">delete</a>
      </td>
    </tr>
    {% end %}
  {% else %}
    <p>No records</p>
  {% end %}
</table>
<a href="/admin/{{name}}/create" class="btn btn-default">create {{name}}</a>
{-main-}