<!DOCTYPE html>
<html lang='zh'>
<head>
  {* blocks.page_css *}
  <title>{* blocks.title *}</title> 
</head>

<body>
<!--[if IE]>
  <h1 style="text-align:center;margin-top:3em;">
您的浏览器太旧, 请使用谷歌浏览器
    <a href="http://sw.bos.baidu.com/sw-search-sp/software/fc14f1545b7/ChromeStandalone_51.0.2704.106_Setup.exe" target="_blank">(下载)</a>
  </h1>
<![endif]-->
<![if !IE]>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <ul class="nav navbar-nav">
        <li role="presentation"{% if navbar=='home' then%} class="active"{% end %}><a href="/">首页</a></li>
        <li role="presentation"{% if navbar=='guide' then%} class="active"{% end %}><a href="/guide">指南</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        {%if user then%}
          <li role="presentation"{% if navbar=='profile' then%} class="active"{% end %}>
          <a href="/profile"><img src="{*user.avatar*}"/>账号</a></li>
          <li role="presentation"{% if navbar=='logout' then%} class="active"{% end %}><a href="/logout">退出</a></li>
        {%else%}
          <li role="presentation"{% if navbar=='login' then%} class="active"{% end %}><a href="/login">登陆</a></li>
          <li role="presentation"{% if navbar=='register' then%} class="active"{% end %}><a href="/register">注册</a></li>
        {%end%}
      </ul>
      
    </div><!-- /.container-fluid -->
  </nav>
  {% if message then %}
  <div class="message">{{message}}</div>
  {% end %}  
  <div  id="main">
    {* blocks.main *}
  </div>
  <footer> 
     © 2015-2016 宜宾江安力智网络科技 版权所有 ICP证： 蜀ICP备15007643号-2
  </footer> 
</div>

<script type="text/javascript" src="/static/js/default.js"></script> 
<script>

</script>
{* blocks.page_js *}
<![endif]>
</body>
</html>
