{% layout = "home.html" %}

{-sidebar-}
<li role="presentation"{% if sidebar=='home' then%} class="active"{% end %}><a href="/">首页</a></li>
<li role="presentation"{% if sidebar=='profile' then%} class="active"{% end %}><a href="/profile">个人资料</a></li>
<li role="presentation"{% if sidebar=='messages' then%} class="active"{% end %}><a href="/messages">消息</a></li>
{-sidebar-}

{-content-}
<div class="panel panel-primary">
  <div class="panel-heading">{{pjl}}</div>
  <div class="panel-body">
    <p>{{content}}</p>
  </div>
</div>
{-content-}
